
.container{
    margin-bottom:5px;
}   
body{
    background-color: forestgreen;
}
form{
    background-color:peru;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}
h1{
    background-color: snow;
    margin-top:2%;
    width: 85%;
    margin-left: 7%;
    color: peru;
}