<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About me</title>
</head>
<body>
    <h1> About me </h1>
    <p> I am a student at the University of Washington. </p>
    <article>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi optio inventore velit reprehenderit voluptatum quae repellendus itaque! At, molestias incidunt iusto, veritatis, iure quia ex enim ut necessitatibus sint ullam!
    </article>
</body>
</html>