/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font: 1.2em/1.2 helvetica,arial,sans-serif;
    margin: 0 3%;
  }
  
  article {
  display: flex;
  }
  
  h1 {
    text-align: center;
    font-size: 1.8em;
    margin: .9em 0 0 0;
  }
  
  h2 {
    text-align: center;
  }
  
  img {
      max-width: 100%;

  }
  
  main {
    font-size: large;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (max-width:794px) {
    body{
      background-color: brown;
      color: azure;
      margin: 25px  6%
    }
  }
  @media (min-width:1080px) {
    body{
      background-color:rgb(3, 32, 56);
      color: darkgoldenrod;
      font-size:28px;
    }
    .container-text{
      display:flex;
      border: solid 2px blue ;
      flex-shrink: 3;
      position:relative;

    }
    section{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 24px;

    }
  }
  
  figure {
      width: 45%;
      margin-right: 4.5%;
  }
  
  figcaption {
    font-size: .8em;
  }
